<a href="https://colab.research.google.com/github/zeinebjalled/Preventing-E-mails-from-going-to-spam/blob/main/Bodies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [31]:
assasin_body = pd.read_csv("/content/assasin_body_non_cleaned.csv")

In [33]:
assasin_body.drop("Unnamed: 0", axis=1,inplace=True )
assasin_body.drop("Unnamed: 0.1", axis=1,inplace=True )

In [34]:
assasin_body.head()

   spam                                               Body
0     0  chuck murcko wrote: > > the usual crud. why do...
1     0  url: xxURLxx date: 1/1/1904; 12:00:00 am gold ...
2     0  once upon a time, rob wrote : > i dl'd gcc3 an...
3     0   date: fri, 23 aug 2002 02:05:19 +0700 from: r...
4     0  an apparent quote from dubya, from the times (...

In [35]:
enron_body = pd.read_csv("/content/enron_bodyy _non_cleaned (1).csv")

In [36]:
enron_body.drop("Unnamed: 0",axis=1, inplace=True)

In [37]:
enron_body.head()

   spam                                               Body
0     1  oo\nthank you ,\nyour email address was obtain...
1     1  revolutionary ! ! ! full featured ! ! !\nspace...
2     1  greetings ,\ni am benedicta lindiwe hendricks ...
3     1  eliminate your credit card debt without bankru...
4     1  carolyn regretful watchfully procrustes godly\...

In [41]:
spam_body = pd.read_csv("/content/spam_non_cleaned_body.csv", encoding='latin-1')

In [45]:
spam_body.drop("Unnamed: 2",  axis=1,inplace=True)
spam_body.drop("Unnamed: 3",  axis=1,inplace=True)
spam_body.drop("Unnamed: 4",  axis=1,inplace=True)

In [54]:
spam_body = spam_body.rename(columns={'v1': 'spam'})
spam_body = spam_body.rename(columns={'v2': 'Body'})

In [56]:
spam_body['spam'] = spam_body['spam'].replace({'spam': '1', 'ham': '0'})

In [57]:
spam_body.head()

  spam                                               Body
0    0  Go until jurong point, crazy.. Available only ...
1    0                      Ok lar... Joking wif u oni...
2    1  Free entry in 2 a wkly comp to win FA Cup fina...
3    0  U dun say so early hor... U c already then say...
4    0  Nah I don't think he goes to usf, he lives aro...

In [75]:
# Merge the three datasets on the 'id' column
merged_bodies = pd.concat([assasin_body,spam_body, enron_body ])

In [77]:
merged_bodies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42324 entries, 0 to 33700
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   spam    42324 non-null  int64
 1   Body    41954 non-null  object
dtypes: int64(1), object(1)
memory usage: 992.0+ KB

In [78]:
merged_bodies.to_csv('merged_bodies_!cleaned.csv', index=False)